.home
  display flex
  justify-content space-between
  .information
    display flex
    padding-left 50px
    flex-direction column
    h1
      width 40%
      font-size 2rem
      color $white
    h4
      width 40%
      font-size 1.5
      color $white
  .banner
    background-repeat no-repeat
    width 50%
    background-image url("~@/assets/images/banner_home.png");