.transparent
  background-color transparent

.btn-transparent
  cursor pointer
  color #06c
  background-color transparent

.btn-transparent-danger
  cursor pointer
  color $danger
  background-color transparent

.primary
  background-color $primary

.secondary
  background-color $secondary

.success
  background-color $success

.info
  background-color $info

.warning
  background-color $warning

.danger
  background-color $danger

.input-danger
  border-color $danger

.light
  background-color $light

.dark
  background-color $dark
  color white

.btn-primary
  background-color $primary
  color white
  transition background-color .2s

.btn-success
  background-color $success
  color white
  transition background-color .2s

.btn-black
  cursor pointer
  background-color $black
  color white

.btn-primary:hover
  background-color $primary-hover
  cursor pointer
  color white
  transition background-color .2s

.btn-secondary
  background-color $secondary
  color white
  transition background-color .2s

.btn-secondary:hover
  background-color $secondary-hover
  cursor pointer
  color white
  transition background-color .2s

.link
  font-family Lato-Regular
  margin 1px

.btn-danger
  background-color $danger
  color white
  cursor pointer
  transition background-color .2s

.btn-danger:hover
  background-color $danger-hover
  color white
  cursor pointer
  transition background-color .2s


.input-primary
  border-color lightgray
  transition border-color .4s

.input-primary:focus
  border-color $primary
  transition border-color .4s
