.page-template
  width 100%
  display flex
  flex-direction column
  background-color $primary
  .header-template
    display flex
    justify-content center
    width 100%
    height 150px
    background-color $white
  .content-template
    display flex
    width 100%
    height 1000px
  .footer-template
    display flex
    width 100%
    height 180px
    background-color $white